body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sixteen-to-16-box{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
}